

/*P  {font-size: 16px; color:#e6e6e6 font-family: 'Courier New', Courier, monospace;}*/




#Discovery {border: 20px outset red; padding:10px;}
#Images {border: 10px outset green; padding:10px;}


body { 
    background-color: #32323c;
    font-family: "Montserrat", sans-serif;
    /*Background-image:url ('cool_background.png');  */
    background-size: cover;
    
   
}

h1 {font-size: 2.5rem;color:#e6e6e6; margin-bottom: 10px ;}
h2 {font-size: 15px; color : #e6e6ee;}


.grey {
        border-radius: 8px;
        background-color: rgba(255, 255, 255, 0.05);
        border: 0px outset grey; 
        padding:20px;
        margin: 80px auto;
        max-width: 800px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        text-align: left;
        position: relative;
        left: 0px;
        }

 .grey h2{
font-family: "Montserrat", sans-serif;
font-size: 20px;
color: #e6e6e6;
margin-bottom: 2px;
border-bottom: 2px solid #e6e6e6;
padding: 5;
display: inline-block;
padding-bottom: 5px;
}
 
.grey p{
font-family: "Montserrat", sans-serif;
font-size: 18px;
color: #e6e6e6;
line-height: 1.6rem;
}
 
nav {font-size: 30px; color: black;}

/*Navigation styles Upto module 3.3*/

nav {
    /*position: fixed;*/
    top: 0;
    left:0;
    right:0;
    width: 100%;
    padding: 10px 0px;
    z-index: 1000;
    background-color:rgba(50, 50, 60, 0.95);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.52);
    }
nav ul{
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content:center;
        align-items: center;
        }
nav li {margin: 0 15px; }

nav a {    
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
        color: #e6e6ee;
        text-decoration: none;
        transition:color 0.3s;
        border-bottom : 0.3s;
        padding-bottom: 5px;
        position: relative ;
}
    nav a:hover{
        color: #4848eb;
        border-bottom: 2px solid #e6e6e6;
        }
        
/*----------------header section------- ------------*/

.container {
        display:flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        width: 100vw;
       text-align: center;
        padding: 2rem;
        padding-top: 30px;
        /*background-image:url('G2.jpg');*/
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        position: relative;
        background-attachment: fixed;

    }

    

.header-content ,button-container{
        position: relative;
        z-index: 1;

}



/*----------------Footer section-------------------*/

footer{
background-color: #1b1b20;
padding: 20px 20px;
font-size: 15px;
color: #e6e6e6;

}
.footer-content{
                text-align: right;
                max-width:  1000px;
                margin:0 auto;

}

.footer-links {

    list-style-type: none;
    padding : 5px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-links a{
    color : #e6e6e6;
    text-decoration: none;
    transform: color 0.3s;
}

.footer-links a:hover{
    color : #2b6289;
    text-decoration: none;
    transform: color 0.3s;
}

.footer-social{  /*Same as .header-social */
  margin-top:0;
  display:flex;
  translate: -10px -50px;
  font-size: 20px;
  margin-top:8px;
  margin-right:20%;
  position: absolute;
  right: 20px;
  text-align: right;
   
 }
.footer-social a{
    color : #e6e6e6; 
    font-size: 20px;
    margin: 0 3px;
    text-decoration: none;
    transition: color 0.1s;
    
}
/*===================================== New project 1st ========================*/
.logo{
position: absolute;
margin-left: 0.1%;
margin-bottom: 0.1%; 
translate: -0.3% -25%;
}

.tag{
position: absolute; 
margin-left: 280px;
margin-top: 5px;
translate: -0% -5%;
}
.header-social{  /*Same as the .footer-social */
 font-size: 20px;
 margin-top:8px;
margin-right:20%;
position: absolute;
right: 20px;
top: 15px;
text-align: right;
}
.logo a{
position: absolute;
left: 0px;

}
.footer-social p{
 position: absolute;
 margin-top: 10px;


}

/*Textbox styles*/
.box1{
  width: 450px;
  height: 30px;
  padding: 10px;
  margin-top : 10%;
  margin-left: 20%;
  background-color: #948d8d;
  color: #e6e6e6;
  font-size: 35px;
  justify-content: center;
  display: flex;
  border: 4px solid rgb(14, 12, 12);
  
}
.box2{
  width: 400px;
  height: 200px;
  margin-bottom: 40%;
  margin-left: 20%;
  background-color: #948d8d;
  color: #0e0d0d;
  font-size: 20px;
  justify-content: left;
  display: flex;
  border: 5px solid rgb(43, 40, 40);
}

.box2 p{
   display: flex;
   font-size: 13px;
   font-style: italic;
      
}

/*Button styles*/
.button1{
    background-color: #525151;
    color: #030303;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border: solid 2px #0a0a0a;
    display: flex;
    margin-top: 40px;
    margin-left: 70%;
    font-style:bold ;
    translate: -2px -2px
    
}

.button2{
    background-color: #525151;
    color: #0a0a0a;
    border: solid 2px #0a0a0a;
    padding: 10px 80px;
    font-size: 16px;
    display: flex;    
    margin-top: 20px;
    margin-left: 49%;
    translate: -200px -1px;
    
       
}
.button3{
    background-color: #525151;
    color: #030303;
    border: solid 2px #0a0a0a;
    padding: 10px 63px;
    font-size: 16px;
    position: absolute;
    margin-top: 12px;
    margin-left: 14%;
    translate: -48px -55px;
       
}

/*
.img_background{
background-image: url('cool_background.png');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;   

}*/